/* GLOBAL PROPERTIES */

* {box-sizing: border-box;}

a:link {color: #F99C19; text-decoration: underline;}
a:visited {text-decoration: none; color: #F99C19; text-decoration: underline;}
a:hover {color: #F99C19; text-decoration: underline; font-style: italic;}
a:active {color: #F99C19; text-decoration: underline; font-style: italic;}

::-moz-selection {/* Code for Firefox */ color: #f9e2c3; background: #e34e6e;}

::selection {color: #f9e2c3; background: #e34e6e;}

::-webkit-scrollbar {width: 0; /* Remove scrollbar space */ background: transparent; /* Optional: just make scrollbar invisible */}

a {-o-transition: .5s; -ms-transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; transition: .5s;}


.insp-wrap {
    margin: 40px 0 10px 0;
    padding: 0 20px 0 20px;
    border-radius: 45px;
    width:100%;
    border: 5px solid #f9e2c3;
    background-color: #4a9076;

    height: 180px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.insp-label img {
    width: auto;
    max-height: 120px;
}

.insp-label {
    cursor: pointer;
}

body {
    background-color: #F99C19;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #f9e2c3;
    font-family: 'Encode Sans', sans-serif;
}

/* INPUT STYLES */

input::placeholder, textarea::placeholder {color: #CB9E69;}

input, select, textarea{color: #F99C19;}

textarea:focus, input:focus {color: #F99C19;}

input, select, textarea{color: #F99C19;}

.info-header-pl {
    margin: 0 40px 0 40px;
}

/* NAVIGATION */

#navigation {
    opacity: 1 !important;
}

#mobile-navigation-wrap {
    opacity: 1 !important;
}

/* BACKGROUND GRID */
.icons {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-top: 40px;

}

#calendar-icon {
    font-size: 95px !important;
    cursor: pointer;
}

.icons img {
    max-height: 100%;
    cursor: pointer;
}

.grid {
    background-image: url("../design/sq.png");
    background-size: cover;
    background-position: center top;
    opacity: 0.8;

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* BOOK */

.book-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px 20px 20px;
    height: calc(100% - 140px);
    overflow: hidden;
    opacity: 0;
    z-index: 10;

    /* flex, center .book-window so the animation is smooth */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.book-window {
    background-color: #307C60;
    width: 1450px;
    max-width: calc(100% - 40px);
    height: 100%;
    border: 5px solid #F9E2C3;
    position: relative;
    border-radius: 60px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

.content1 {
    width: 100%;
    display: inline-block;
    margin-bottom: 80px;
}

.info {
    background-color: #307C60;
    color: #F9E2C3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    overflow-y: scroll;
    border-right: 3px solid #F9E2C3;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.info::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.info-header {
    width: 100%;
    border-bottom: 5px solid #F9E2C3;
    font-family: fascinate;
    color: #F99C19;
}

.info-header img {width: 100%;}

#info-content {padding: 40px 60px 40px 60px;}

.info-content-line {
    font-weight: 700;
    line-height: 150%;
    font-size: 20px;
    padding: 20px 10px 0 10px;
}

.info-content-subline {
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}

.info-content-line:first-child {padding-top: 0;}

.x {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 80px;
    pointer-events: none;
    opacity: 0;
}

.x img {
    width: 80px;
    position: absolute;
    top: 8px;
    right: 10px;
    border-radius: 100px;
    opacity: 0;
}

/* FORM */

.form {
    background-color: #307C60;
    color: #F9E2C3;
    position: relative;
    font-size: 30px;
    overflow-y: scroll;
    padding: 40px 60px 40px 60px;
    border-left: 2px solid #F9E2C3;
    width: 100%;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.form::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.form-sub {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-bottom: -12px;
    margin-top: -3px;
    /* font-style: italic; */
}

.form-title {font-family: fascinate;}

#idea {
    height: 210px;
    border-radius: 45px;
    overflow-y: scroll;
    word-break: break-word;
}

textarea#idea {
    margin-bottom: 10px;
}

/* MINIMIZE */

#minimize {
    height: 140px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png');
}

/* INPUTS */

input[type=text] {
    width: 100%;
    height: 70px;
    border: 0px;
    border-radius: 200px;
    background-color: #f9e2c3;
    padding: 0;
    margin: 40px 0 10px 0;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 40px;
    color: #F99C19;
    outline: none;
}

input[type=email] {
    width: 100%;
    height: 70px;
    border: 0px;
    border-radius: 200px;
    background-color: #f9e2c3;
    padding: 0;
    margin: 40px 0 10px 0;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 40px;
    color: #F99C19;
    outline: none;
}

#submit {
    width: 100%;
    height: 70px;
    border: 0px;
    border-radius: 200px;
    background-color: #e34e6e;
    border: 5px solid #f9e2c3;
    padding: 0;
    margin: 40px 0 10px 0;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #f9e2c3;
    outline: none;
    cursor: pointer;
}

input[type=file] {
    width: 100%;
    height: 200px;
    border: 0px;
    border-radius: 40px;
    padding: 0;
    margin: 40px 0 10px 0;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 40px;
    color: #f9e2c3;
    border: 5px solid #f9e2c3;
    background-color: #4c9d7f;
    outline: none;
}

#idea {
    width: 100%;
    height: 70px;
    border: 0px;
    border-radius: 40px;
    background-color: #f9e2c3;
    padding: 0;
    margin: 40px 0 4px 0;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 22px 40px 22px 40px;
    color: #F99C19;
    outline: none;
    resize: none;
}

input[type="file"] {display: none;}

.inspo {
    margin: 40px 0 10px 0;
    border: 5px solid #f9e2c3;
    display: inline-block;
    padding: 22px 35px 22px 35px;
    cursor: pointer;
    height: 200px;
    border-radius: 40px;
    background-color: #4a9076;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

#discard {
    right: 75px;
    position: absolute;
    border-radius: 100px;
    font-size: 0;
    z-index: 10;
    width: 48px;
    height: 48px;
    margin-top: 55px;
    cursor: pointer;
}

#discard:hover {background-color: #F99C19;}

.inspo-text-2 {padding: 5px 0 0px 0;}

.inspo-text-2:last-child {padding: 5px 0 10px 0;}

.inspo-text-3 {
    color:#F9E2C3;
    font-weight: 700;
    font-size: 20px;
}

#fileuploadspan {
    font-weight: 700;
    background-color: #F99C19;
    color: #307C60;
    border-radius: 100px;
    width: 140px;
}

#name {margin-top: 10px;}

.multiple {padding-top: 14px;}

@media only screen and (min-device-width: 851px) and (max-width: 1400px) {

    .insp-label img {
        width: auto;
        max-height: 90px;
    }

}

@media only screen and (max-width: 850px) {

    /*! header */

    .info-header-pl {
        margin: 0 20px 0 20px;
    }

    /*! icons */
    .icons {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
    
    }

    #calendar-icon {
        font-size: 73px !important;
    }

    /*! inputs */

    input[type=text] {
        height: 60px;
    }

    input[type=email] {
        height: 60px;
        padding-left: 32px;
    }


    #idea {
        min-height: 120px;
        height: 50px;
    }

    textarea#idea {
        margin-bottom: 10px;
        padding-top: 18px;
    }

    #submit {
        height: 60px;
    }
        
    /* FORM */

    .form {
        background-color: #307C60;
        color: #F9E2C3;
        position: static;
        font-size: 30px;
        width: 100%;
        overflow-y: auto;
        display: block;
        border-left: 0px;
        margin: 0;
        padding: 16px 24px 16px 24px;

        grid-area: "info";
    }

    /* zoom in the background on smaller devices */

    .grid {background-size: 200%;}

    /* extend book wrapper up when navbar is smaller to fill the space*/

    .book-wrapper {height: calc(100% - 120px); padding: 0 0 20px 0;}

    /*! info */

    #info-content {padding: 20px 24px 20px 24px; text-align: center;}

    .info-content-line {font-size: 16px;}
    
    .info-content-subline {font-size: 14px;}

    .multiple {
        display: none;
    }

    .book-window {
        display: block;
        overflow: auto;
        width: 100%;
    }

    .info {
        overflow-y: auto;
        width: 100%;
        border-bottom: 5px solid #F9E2C3;
        border-right: 0px;
    }

    .info-header {
        height: 100%;
        width: auto;
        padding: 10px;
        display: block;
        overflow-y: auto;
        position: static;

        grid-area: "header";
    }

    /* DISCARD */

    #discard {
        right: 40px;
        position: absolute;
        border-radius: 100px;
        font-size: 0;
        z-index: 10;
        width: 48px;
        height: 48px;
        margin-top: 55px;
        cursor: pointer;
    }

    .x {
        z-index: 3;
        position: sticky;
        top: 5px;
        right: 5px;
        width: 60px;
        float: right;
    }
    
    .x img {
        width: 60px;
        position: absolute;
        top: 5px;
        right: 5px;
    }

}

@media only screen and (max-width: 600px) {
input[type=text] {
    font-size: 18px;
    padding-left: 30px;
}

#idea {
    font-size: 18px;
    padding-left: 30px;
}
}