* {
    box-sizing: border-box;
}

#navigation {
    /* navigation box */
    width: 100%;
    position: relative;
    top: 0;
    z-index: 9;
    opacity: 0;

    /* flex */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#navigation-wrap {
    height: 0px;
    top: 0;
}

.sub-menu {
    width: 100%;
    box-sizing: border-box;
    opacity: 0;

    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 40px;
}

.menu {
    width: 100%;
    padding-top: 20px;

    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 40px;
}

.info-button {
    /* button */
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    background: #FAE1C3;
    border: 5px solid #3C2606;
    border-radius: 60px;
    cursor: pointer;
    z-index: 13;

    /* font */
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 90px;
    color: #3C2606;
    text-align: center;
}

#info {
    position: relative;
    overflow: hidden;
    background-color: #e34e6e;
    border: 5px solid #FAE1C3;
    color: #FAE1C3;

    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.info-text {
    position: absolute;
    top:0;

    font-size: 58px;
    line-height: 90px;
}

.info-show-less {
    position: absolute;
    top:0;
    opacity: 0;
}

#menu > .info-show-less img {
    height: 70px;
}

.info-show-less img {height: 90px;}

.info-button-sub, .info-button-sub-mobile {
    /* button */
    box-sizing: border-box;
    background: #FAE1C3;
    width: 300px;
    border: 5px solid #3C2606;
    border-radius: 60px;
    cursor: pointer;
    z-index: 9;

    /* font */
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 900;
    color: #3C2606;
    text-align: center;
}

.mbl-book-btn-wrp {
    height: 100%;
    width: 100%;
    
    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    transform: scale(0.8);
}

.info-button-sub {
    height: 100px;
    line-height: 90px;
    font-size: 58px;
}

.info-button-sub-mobile {
    height: 80px;
    line-height: 70px;
    font-size: 45px;
}

/* BOOK BUTTON */

.book-overlay {
    opacity: 0;
    max-height: 100px;
    max-width: 300px;
    position: absolute;
}

.book-button {
    /* button */
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    background: #2F7C60;
    border: 5px solid #FAE1C3;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    z-index: 13;

    /* font */
    text-align: center;

    /* flex */
    /* margin-left: auto; */
    /* aligns book button to the right for pc - remove for mobile */
}

.book-button img {
    height: 90px;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* ANIMATED EYES */

#eyes {
    position: absolute;
    padding-left: 1px;
    gap: 3px;
    width: 290px; /* same as button width without a border */
    height: 90px; /* modify this when resizing button height */

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.eye {
    aspect-ratio: 44 / 39;
    height: 31px;
    margin-top: 3px;
    display: inline-block;
    position: relative;
    /* overflow: hidden; */
    background-image: url('https://i.imgur.com/EvoGbB6.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ball {
    aspect-ratio: 6 / 11;
    height: 18px;
    background-color: #2f7c60;
    border-radius: 90px 90px 90px 90px / 140px 140px 140px 140px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#mobile-navigation-wrap {
    display: none;
    position: relative;
    opacity: 0;

    /* navigation box */
    width: 100%;
    height: 100%;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;

    /* flex */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
}

#menu {
    position: relative;
    overflow: hidden;
    height: 80px;
    background-color: #e34e6e;
    border: 5px solid #FAE1C3;
    color: #FAE1C3;

    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#menu > .info-text {
    line-height: 70px;
    font-size: 45px;
}

.mobile-menu-background {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #F99C19;
    opacity: 0;
}

.info-button-sub-mobile {
    opacity: 0;
}

#show-less-button {
    /* button */
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background: #FAE1C3;
    border: 5px solid #3C2606;
    border-radius: 60px;
    cursor: pointer;
    z-index: 11;
    opacity: 0;
}

#sub1, #sub2, #sub3, #sub4, #sub5 {
    z-index: 11;
}

#mobile-book-button {
    opacity: 0;
    height: 80px;
}

.shadow {
    position: fixed;
    z-index: 2;
    pointer-events: none;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(213, 130, 13, 0.7);
    opacity: 0;
}

/* MOBILE */

@media only screen and (min-device-width: 801px) and (max-width: 1400px) {

    .book-button {width: 260px;}

    .info-button {width: 260px; font-size: 46px;}

    .info-button-sub {width: 260px; font-size: 46px;}

    .info-text {font-size: 46px;}

    .book-btn-inner {transform: scale(0.9);width: 100%;height: 100%;display: flex;align-items: center;align-content: center;justify-content: center;}

    #eyes {
        width: 250px; /* same as button width without a border */
        height: 90px; /* modify this when resizing button height */
    }
}

@media only screen and (max-width: 800px) {

    #navigation-wrap {
        display: none;
    }

    #mobile-navigation-wrap {
        display: flex;
    }

    .info-button {
        margin-top: 20px;
    }

}

/* @media only screen and (min-height: 601px) and (max-height: 660px) {
    .info-button {transform: scale(0.8);}
    .info-button-sub-mobile {transform: scale(0.8);}
    .book-button {transform: scale(0.8); margin:0;}
    #mobile-navigation-wrap {gap: 0px;}
} */

@media only screen and (max-height: 660px) {
    
    #mobile-book-button {width: 260px; height: 60px;}

    #menu {width: 260px; height:60px;}

    #menu > .info-text {font-size: 32px; line-height: 50px; height: 50px;}

    #menu > .info-show-less img {height: 50px;}

    .info-show-less {height: 50px;}

    .info-button-sub-mobile {height: 60px; width: 260px; font-size: 46px; font-size: 32px; line-height: 50px;}

    .mbl-book-btn-wrp {transform: scale(0.6);width: 100%;height: 100%;display: flex;align-items: center;align-content: center;justify-content: center;}

    #eyes {
        width: 250px; /* same as button width without a border */
        height: 50px; /* modify this when resizing button height */
    }
}